.not-found-wrapper {
  text-align: center;
  margin: 15% 0 15%;
  h1 {
    font-size: 160px;
    line-height: 1.2em;
    margin: 0;
    color: #e5e5e5;
    text-align: center;
  }
  p {
    display: inline-block;
    color: #fff;
    background-color: #54ca95;
    padding: 0 10px;
    font-size: 16px;
  }
}
