.scrolltop-wrapper {
  .lmpixels-scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 100;
    background-color: #fafafa;
    padding: 25px;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    color: #333;
    border-radius: 8px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
    i {
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      color: #54ca95;
    }
  }
  @media (max-width: 991px) {
    .lmpixels-scroll-to-top {
      padding: 20px;
      font-size: 20px;
    }
  }
}
