.resume-wrapper {
  margin-top: 52px;
  .timeline-item {
    position: relative;
    padding: 3px 0 20px 40px;
    &:before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      background-color: #f5f6f9;
      width: 1px;
      left: 15px;
      bottom: 5px;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      height: 1px;
      background-color: #f5f6f9;
      width: calc(100% - 15px);
      left: 15px;
      bottom: 3px;
    }
    h5.item-period {
      display: inline-block;
      position: relative;
      font-size: 12px;
      font-weight: 500;
      margin: 0 0 5px -40px;
      color: #666;
      background-color: #fff;
      padding: 0 10px;
      line-height: 23px;
      border: 2px solid #54ca95;
      border-radius: 30px;
      font-family: 'Poppins', Helvetica, sans-serif;
    }
    .item-company {
      display: inline-block;
      font-size: 12px;
      color: #666;
      opacity: 0.7;
      margin-left: 5px;
    }
    .item-title {
      font-size: 16px;
      margin: 10px 0 7px;
    }
    p {
      font-size: 0.92em;
      font-family: 'Poppins', Helvetica, sans-serif;
      font-weight: 400;
      font-style: normal;
      line-height: 1.75em;
      color: #666666;
    }
  }
}
