.about-wrapper {
  margin-top: 80px;
  .home-content {
    margin: 5% 10%;
  }
  .home-photo {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: calc(100% - 36px);
    border-radius: 1000px;
    border: 18px solid #fff;
    overflow: hidden;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  }
  .hp-inner {
    background-image: url('../../images/avt.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    position: absolute;
    top: -18px;
    bottom: -18px;
    width: auto;
    left: -18px;
    right: -18px;
  }
  .home-text {
    margin-top: 40px;
    text-align: left;
    .profile {
      display: flex;
      .space {
        margin-left: 20px;
        margin-right: 20px;
      }
      margin-bottom: 10px;
    }
    .introduce {
      p {
        margin-bottom: 5px;
      }
    }
    h1 {
      font-size: 48px;
      line-height: 56px;
      margin-top: 0;
      margin-bottom: 20px;
    }
    h4 {
      font-size: 16px;
      color: #aaa;
      font-weight: 300;
      margin-bottom: 10px;
    }
  }

  .home-buttons {
    .download-button {
      border-color: #54ca95;
    }
  }
  @media (max-width: 1100px) {
    .home-content {
      margin: 5% 0;
    }
  }
  @media (max-width: 767px) {
    .major,
    .full-name,
    .home-buttons {
      text-align: center;
    }
  }
}
